{% extends 'expense/base/base.html' %}

{% block title %}{{page_name}}{% endblock title %}

{% block content %}
    {% if page_obj %}
<h4>Today -- Total Transaction : {{report.trax}}, Total Amount : {{report.total_amount}}</h4>
<table>
  <tr>
    <th>#ID</th>
    <th>Date</th>
    <th>Notes</th>
    <th>Amount</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  {% for expense in page_obj %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ expense.create_at }}</td>
    {% if expense.notes %}
    <td>{{ expense.notes }}</td>
    {% else %}
    <td>No Notes</td>
    {% endif %}
    <td>{{ expense.amount }}</td>
    <td><a href="{% url 'expense-delete' expense.pk %}">Delete</a></td>
    <td><a href="{% url 'expense-update' expense.pk %}">Edit</a></td>
  </tr>
    {% endfor %}
</table>
{% else %}
<p>You have no expense</p>
{% endif %}
    <br />
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
{% endblock content %}
