{% extends 'expense/base/base.html' %}

{% block title %}Home{% endblock title %}
{% block content %}
<h3>Expense Reports</h3>
<table>
  <tr>
    <th colspan="2">#Report</th>
    <th colspan="2">Expense</th>
    <th colspan="2">Transaction</th>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center">
      <a href="{% url 'archive_day' today|date:'Y' today|date:'b' today|date:'j' %}">Today</a>
    </td>
    <td colspan="2" style="text-align: center">{{ reports.day.total_amount }}</td>
    <td colspan="2" style="text-align: center">{{ reports.day.trax }}</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center">
      <a href="{% url 'archive_week' today|date:'Y' today|date:'W' %}">Week</a>
    </td>
    <td colspan="2" style="text-align: center">{{ reports.week.total_amount }}</td>
    <td colspan="2" style="text-align: center">{{ reports.week.trax }}</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center">
      <a href="{% url 'archive_month' today|date:'Y' today|date:'b' %}">Month</a>
    </td>
    <td colspan="2" style="text-align: center">{{ reports.month.total_amount }}</td>
    <td colspan="2" style="text-align: center">{{ reports.month.trax }}</td>
  </tr>
</table>
{% endblock content %}
