<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DEM | Category</title>
  </head>
  <body>
    <hr />
    <p>
      <span>CATEGORY UPDATE PAGE --- </span
      ><a href="{% url 'expense-home' %}">Home</a> <span> -- </span
      ><a href="">Reports</a>
    </p>
    <hr />
    <h1>Daily Expense Manager...</h1>

    <h3>Edit Category</h3>
    <form method="post" action="{% url 'category-update' category.pk %}">
      {% csrf_token %}
      <table>
        <tr>
          <td>{{ form.name.label_tag }}</td>
          <td>{{ form.name }}</td>
          <td><input type="submit" value="Edit" /></td>
        </tr>
        <tr>
          <td>Add</td>
          <td><a href="{% url 'expense-create' %}">New Expense</a></td>
        </tr>
      </table>
    </form>
    <h3>Category List</h3>
    {% if category_list %}
    <table>
      {% for category in category_list %}
      <tr>
        <td>{{ category.name }}</td>
        <td>-- <a href="{% url 'category-update' category.pk %}">Update</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>You have no Category</p>
    {% endif %}
  </body>
</html>
